@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
​
body{
    font-family: 'Roboto Slab', serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.5rem;
}

.task-list{
    border: thin solid #4d4d4d;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px #a7a7a7;
    border-radius: 4px;
}

.task{
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border: thin solid #4d4d4d;
    padding: 0.5rem;
    margin: 0.25rem;
}
.heading{
    padding: 0rem 0.5rem;
}